<section
  class="custom-snackbar"
  [ngStyle]="
    data == 'incorrect-password'
      ? { 'background-color': '#D94E3B' }
      : { 'background-color': '#5CB85C' }
  "
>
  <div class="snackbar-msg">
    <span class="icon">
      <img
        *ngIf="data == 'Incorrect-password'"
        class="wrong-passord"
        src="assets/login/wrong-password.svg"
        alt=""
        srcset=""
      />
      <img
        *ngIf="data !== 'Incorrect-password'"
        src="assets/confirmation-toast.svg"
        alt=""
      />
    </span>
    <span class="message">{{
      data == "Incorrect-password"
        ? "Incorrect Password"
        : data + " Successfully"
    }}</span>
  </div>

  <span class="icon close-icon" (click)="close()">
    <img src="assets/close.svg" alt="" srcset="" />
  </span>
</section>
