::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 5px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
}

::ng-deep .mdc-snackbar__label {
    padding: 0 8px 8px 0 !important;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    min-width: 0 !important;
    max-width: none !important;
}

::ng-deep .mat-mdc-snack-bar-handset,
.mat-mdc-snack-bar-container,
.mat-mdc-snack-bar-label {
    flex: none !important;
}

@media (max-width: 480px),
(max-width: 344px) {
    ::ng-deep .mat-mdc-snack-bar-container {
        width: fit-content !important;
    }
}