<main>
  <section class="left-container">
    <div class="content">
      <img class="ellipse-icon" src="assets/login/Ellipse1.svg" alt="" />
      <div class="heading"><strong>Digital</strong> Platform</div>
      <div class="heading">for distance <strong>learning</strong></div>
      <div class="sub-heading">
        Internet and online based digital technologies such as desktop
        computers, mobile phones and other
      </div>
    </div>
    <img class="digital-platform-icon" src="assets/login/Group3.svg" alt="" />
  </section>

  <section class="right-container">
    <div class="wrapper">
      <img class="brand-logo" src="assets/yourLogo1.png" alt="" />

      <div class="container">
        <span class="lock-icon-container">
          <img src="assets/login/lock.svg" alt="" srcset="" />
        </span>
        <span class="welcome-message">Welcome back</span>

        <form class="form" [formGroup]="loginForm">
          <div class="form-field">
            <div class="field">
              <img src="assets/login/user.svg" alt="" />
              <input
                type="text"
                formControlName="name"
                placeholder="Username"
              />
            </div>
            <span class="error" *ngIf="gf['name'].errors && nameSubmitted">
              <img
                class="error-icon"
                src="assets/login/alert-input-form.svg"
                alt=""
                srcset=""
              />

              <span class="error-msg">Name must be min 3 char, no numbers or symbols</span></span
            >
          </div>

          <div class="form-field">
            <div class="field">
              <img src="assets/login/lock2.svg" alt="" />

              <input
                type="password"
                formControlName="password"
                placeholder="Password"
              />
              <img
                *ngIf="!gf['password'].errors"
                class="check-circle-icon"
                src="assets/login/check-circled.svg"
                alt="check-icon"
              />
            </div>
            <span class="error" *ngIf="gf['password'].errors && passwordSubmitted"
              ><img
                class="error-icon"
                src="assets/login/alert-input-form.svg"
                alt=""
                srcset=""
              /><span class="error-msg">
                Please enter atleast 8 character with number, symbol, capital
                and small letter
              </span>
            </span>
          </div>
          <span class="forget-password">Forgot Password?</span>
        </form>
        <div class="login-btn" (click)="login()">Login</div>
      </div>

      <span class="sign-up"
        >Don’t have an Account? <span class="strong">Sign Up</span></span
      >
    </div>
  </section>
</main>
